.profile {
  height: 102vh;
  width: 50%;
  margin-left: 12.5em;
  color: rgb(215, 203, 203);
  font-size: 30px;
  font-weight: 500;
  border: 0px;
  padding: 2em;
  border-left: 2px;
  border-style: solid;
  border-color: #14c38e;
}

.introduction {
  margin-left: 2em;
  margin-top: 6em;
  line-height: 1.7em;
}

.image-introduction {
  display: flex;
}

img {
  width: 30%;
  height: 30%;
  border-radius: 50px;
}

h2 {
  display: flex;
  margin: 0;
}

.name {
  background: linear-gradient(to right, #14c38e 30%, #00ffab);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0);
}

p {
  line-height: 1.5em;
}

.education,
.experience {
  line-height: 2em;
  margin-bottom: 2em;
}

.education ul,
.experience ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.education li,
.experience li {
  line-height: 1.5em;
}

.education li div:nth-child(2),
.experience li div:nth-child(2) {
  font-style: italic;
  font-size: larger;
}
